kvmd:
{% if not hdmi_passthrough_enabled and pikvm_version == "v4plus" %}
    # HDMI Passthrough - Disable HDMI Passthrough on PiKVM v4plus
    streamer:
        forever: false
        cmd_remove:
            - "--v4p"
{% endif %}
{% if mouse_jiggler_enabled %}
    hid:
        jiggler:
            enabled: true
{% if mouse_jiggler_on_after_reboot %}
            active: true
{% endif %}
{% endif %}
{% if serial_over_usb_enabled and pikvm_version in v2_incremental_list %}
otg:
    devices:
        serial:
            enabled: true
{% endif %}
